# Prerequisites
*1
*.d
lib/crossfade.h 
lib/crossfade.cpp
# Compiled Object files
*.slo
*.lo
*.o
*.obj
dev/midicom/midicom

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/
*zip
test/interpolation/1
test/tape/1
